*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  min-height: 100vh;
  text-align: center;
  position: relative;
  display: grid;
  grid-template-rows: 50px auto auto;
}
#root{
height: 100%;
background: url("../public/background-2.jpg") no-repeat center center fixed;
background-size: cover;
}

.title{
  height: 50px;
  text-align: center;
  margin: auto;
  padding: 0;
  font: 3em;
}

.play{
  background-color: cyan;
  width: 300px;
  /* height: 30px; */
  font-size: 2em;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
}

.game-container{
/* display: grid;
grid-template-columns: auto auto; */
display: flex;
flex-direction: row-reverse;
}
.secondary-board-cell{
  width: 20px;
  height: 20px;
  margin: 5px 5px;
  background: rgb(214, 214, 214);
}

.board{
  display: grid;
  /* grid-column: 1fr; */
  background: rgba(0, 0, 0, .5);
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  /* width: 50%; */
  margin: 0 auto 50px 30px;
}
.secondary-board { 
  float: left;
  height: 300px;
  width: 300px;
  margin: 0 30px 10px;  
}
.secondary-board .cell{
  width: 20px;
  height: 20px;
  font: 10px;
}
/*
Ship styling
*/
.ship-selection{
  /* position: absolute; */
  bottom: 0;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: rgba(0, 0, 0, .5);
}

.block{
  width: 20px;
  height: 20px;
  background: brown;  
  margin: 10px auto;
}

.ship{
  cursor: pointer;
}
/*
Cell styling
*/
.cell{
  display: flex;
  align-items: center;
  width: 5vw;
  height: 5vw;
  background-color: rgb(0, 74, 134);
  font-size: 5vh;;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  cursor: pointer;
}
.valid{
  background: green;
}
.occupied{
  background-color: brown;
}
.invalid  {
  background-color: red;
}